__pycache__/
*.py[cod]
*.swp
*.bak
*.tmp
*.egg-info/
venv/
*.log

# Archivos temporales
filtered_reqs.txt

# Entornos virtual
.venv/

# Node modules
node_modules/

# Mermaid CLI artifacts
docs/architecture/diagrams/*.png
