# Development Dependencies
-r requirements.txt  # Incluye las dependencias principales

# Testing
pytest>=7.0.0
pytest-django>=4.5.0  # Django test utilities
factory-boy>=3.0.0  # Test fixtures

# Code Quality
black>=22.0
flake8>=4.0.0

# Documentation
sphinx>=5.0.0
furo>=2022.4.0
